<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html"
      th:with="pageTitle='Giới Thiệu'">
<head>
    <meta charset="UTF-8">
</head>
<body>
<main layout:fragment="content" style="width: 70%; margin-left: 0px;
    margin-right: 0px;">
    <!-- Section 1 -->
    <div class="section-1" style="display: flex; height: 300px;">
        <div class="text-content" style="width: 700px; margin: 80px 80px 80px 0px;    ">
            <h1 style="color: red;margin-left: 20px;">Chúng tôi là</h1>
            <p style="margin-left: 20px;">Đội ngũ giảng viên và chuyên
                gia tại BTF - Digital là những kỹ sư lâu năm trong ngành Tư vấn thiết kế
                xây dựng. Hệ thống kỹ sư chất lượng cao trong các lĩnh vực tính toán
                kết cấu siêu cao tầng, kỹ sư tự động hóa, kỹ sư BIM.</p>
        </div>
        <div class="image-content" style="max-width: 580px; object-fit: cover; height: 300px;">
            <img src="images/banner.png" alt="Banner" style="width: 580px; height: 300px;">
        </div>
    </div>

    <!-- Section 2 -->
    <div class="section-2" style="display: flex; height: 300px; width: 1280px; box-sizing: border-box; margin-bottom: 40px;">
        <div class="image-content" style="width: 400px; ">
            <img src="images/profile1.png" alt="James Hoang" style="min-width: 300px; max-height: 300px; ">
        </div>
        <div class="text-content" style="margin-left: 20px; width: 880px; background-color: red; color: white; border-radius: 2px; width: 50%;">
            <h2 style="margin: 10px;">James Hoang</h2>
            <p style="margin: 10px;">Kỹ sư kết cấu – nhà siêu cao tầng</p>
            <p style="margin: 10px;">Công tác tại tập đoàn lớn nhất tại
                Singapore về lĩnh vực tư vấn thiết kế kết cấu – Surbana Jurong đứng thứ
                23 trong 225 công ty thiết kế quốc tế hàng đầu năm 2023 theo Engineering
                News-Record bình chọn. Nhiều năm kinh nghiệm về thiết kế các kết cấu
                đặc biệt cùng với nền tảng học vấn vững chắc và chuyên môn sâu rộng
                trong các dự án tầm cỡ, đặc biệt là các công trình cao tầng, siêu cao
                tầng trên 300m. Từng được tham gia thiết kế các công trình mang tính
                biểu tượng tại châu Âu và Đông Nam Á như tòa 8SW cao nhất Singapore và
                tòa The Link cao nhất Công hòa Pháp.</p>
        </div>
    </div>



    <div class="section-3" style="display: flex;height: 300px;width: 1280px;box-sizing: border-box;margin-bottom: 40px; width: 100%;">
        <div class="text-content" style="margin-right: 20px;width: 880px;background-color: gray;color: white;border-radius: 2px;">
            <h2 style="margin-left: 20px;">Nguyễn Văn Chiêu</h2>
            <p style="margin-left: 20px;">Team Leader – BIM and Automation system</p>
            <p style="margin-left: 20px;">Với nhiều năm kinh nghiệm
                trong lĩnh vực BIM, tôi đã tham gia vào các dự án quy mô lớn như khách
                sạn và công trình thương mại tại Pháp và Việt Nam. Trong vai trò leader,
                tôi đã điều phối và phát triển quy trình BIM cùng các giải pháp tự động
                hóa, đảm bảo triển khai hiệu quả trên các dự án. Ngoài ra, tôi có 3 năm
                kinh nghiệm giảng dạy và lập trình và tự động hóa trong xây dựng, góp
                phần nâng cao kiến thức và kỹ năng cho thế hệ kỹ sư tiếp theo.</p>
        </div>
        <div class="image-content">
            <img src="images/profile2.png" alt="Nguyễn Văn Chiêu" style="min-width: 300px;max-height: 300px;">
        </div>
    </div>

    <div class="section-4" style="object-fit: cover;width: 100%;height: 300px;">
        <div class="image-content" style="">
            <img src="images/image.png" alt="Image 1" style="min-width: 100%;max-height: 300px;">
        </div>
    </div>

    <div class="section-5" style="height: 140px;width: 100%;">
        <div class="text-content" style="">
            <h1 style="margin-left: 20px;color: red;">Sứ mệnh của BTF - Digital</h1>
            <p style="margin: 20px 20px 20px 20px;">Sứ mệnh của BTG –
                Digital là trang bị cho sinh viên và kỹ sư xây dựng Việt Nam những kiến
                thức và kỹ năng cần thiết để đáp ứng yêu cầu của cuộc cách mạng công
                nghiệp 4.0. Chúng tôi cam kết mang đến trải nghiệm học tập tiên tiến và
                nền tảng kiến thức vững chắc, giúp học viên không chỉ hoàn thành xuất
                sắc công việc hiện tại mà còn nâng cao giá trị bản thân. Thông qua đó,
                chúng tôi góp phần xây dựng một thế hệ chuyên gia xây dựng có khả năng
                hòa nhập và dẫn dắt sự chuyển đổi số trong ngành, đồng thời đóng góp
                tích cực cho sự phát triển của xã hội.</p>
        </div>
    </div>

    <div class="section-6" style="height: 300px;width: 100%;">
        <div class="text-content">
            <h1 style="margin-left: 20px;color: red;">Giá trị cốt lõi</h1>
            <ol style="margin: 20px 20px 20px 20px;">
                <li>Chất lượng đào tạo khác biệt: Chúng tôi cao kết
                    mang đến chương trình đào tạo chất lượng, những kiến thức mới và công
                    trình trong điểm ở châu Âu sẽ được mang vào giảng dạy.</li>
                <li>Đổi mới sáng tạo: BTF – Digital luôn khuyến
                    khích thúc đẩy sự sáng tạo, đổi mới trong từng giải pháp và phương pháp
                    giảng dạy nhằm đem đến trải nghiệm học tập hiệu quả nhất.</li>
                <li>Phát triển bền vững: Chú trọng đào tạo nền móng
                    kiến thức vững chắc cho học viên. Định hình triết lý thuyết kế hiện đại
                    và chú trọng tính tối ưu trong ngành xây dựng.</li>
                <li>Hợp tác và chia sẻ: Chúng tôi coi trong sự hợp
                    tác và chia sẻ kiến thức, kinh nghiệm giữa các học viên, giảng viên và
                    chuyên gia trong ngành, tạo ra một cộng đồng học tập năng động và gắn
                    kết.</li>
                <li>Trách nhiệm xã hội: BTF – Digital luôn ý thức và
                    hành động vì lợi ích chung của cộng đồng, đóng góp tích cực vào sự phát
                    triển xã hội thông qua các chương trình đào tạo thực tiễn và chất
                    lượng. Các học viên tốt nghiệp khóa học sẽ đủ đáp ứng nhu cầu cấp bách
                    của thị trường lao động, thông qua đó góp phần xây dựng xã hội ngày một
                    tốt hơn.</li>
            </ol>
        </div>
    </div>
</main>
</body>
</html>
