body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    margin-left: 320px;
    margin-right: 320px;
}

.book-detail-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.book-detail {
    flex: 3;
}

.book-detail img {
    max-width: 300px;
    height: auto;
}

.book-info {
    max-width: 100%;
}

.featured-books {
    flex: 1;

}

.featured-book {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.featured-book img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.zalo-icon {
display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}

.featured-books h3 {
    margin-top: 0;
}