<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html"
      th:with="pageTitle='Chi Tiết Sách'">
<head>
    <meta charset="UTF-8">
    <title>Chi Tiết Sách</title>
    <link rel="stylesheet" th:href="@{/css/book_detail.css}">
</head>
<body>
<main layout:fragment="content">
    <div class="book-detail-container">
        <div class="book-detail">
            <img th:src="${book.imageUrl}" alt="Book Cover">
            <div class="book-info">
                <h2 th:text="${book.title}"></h2>
                <p th:text="${book.description}"></p>
            </div>
        </div>
        <div class="featured-books">
            <h3>Sách Nổi Bật</h3>
            <div th:each="featuredBook : ${featuredBooks}" class="featured-book">
                <img th:src="${featuredBook.imageUrl}" alt="Featured Book Cover">
                <a th:href="@{/book/{id}(id=${featuredBook.id})}" th:text="${featuredBook.title}"></a>
            </div>
        </div>
    </div>
</main>
<a href="https://zalo.me" target="_blank">
    <img src="/images/zalo.png" alt="Zalo" class="zalo-icon">
</a>
</body>
</html>
