
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html"
      th:with="pageTitle='Khoá học'">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khóa học</title>
    <link rel="stylesheet" type="text/css" href="/css/CourseList.css">
</head>
<body>
<header>
    <h1>Danh sách khóa học</h1>
</header>
<main layout:fragment="content">
    <div class="course-container">
        <div class="course-card" th:each="course : ${courses}">
            <div class="course-image">
                <img th:src="@{${course.img_url}}" alt="Hình ảnh khóa học">
            </div>
            <div class="course-details">
                <h2 th:text="${course.title}">Tiêu đề khóa học</h2>
                <p th:text="${course.description}">Mô tả khóa học</p>
                <p class="course-price">
                    <span class="original-price" th:text="'₫' + ${course.original_price} + ' VND'">Original Price</span>
                    <span class="discounted-price" th:text="'₫' + ${course.discounted_price} + ' VND'">Discounted Price</span>
                </p>
                <p class="course-type" th:text="${course.course_type == 1 ? 'Tính toán kết cấu' : 'Tự động hoá các phần mềm xây dựng'}">Course Type</p>
                <button class="register-button">Đăng ký khóa học</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>
