<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html"
      th:with="pageTitle='Home'" xmlns:class="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Trang Chủ</title>
</head>
<body>

<main layout:fragment="content">
    <div class="section-1">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img th:src="@{/images/B1.png}" style="width:100%">
            </div>
            <div class="mySlides fade">
                <img th:src="@{/images/B2.png}" style="width:100%">
            </div>
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>


    <div class="section-2">
        <div class="section-header">
            <i class="fas fa-book"></i> <!-- Example icon, you can change this to any icon you prefer -->
            <h3>TÍNH TOÁN KẾT CẤU</h3>
        </div>
        <div class="course-container">
            <div class="course-card" th:each="course : ${structuralCourses}">
                <div class="course-image">
                    <img th:src="@{${course.img_url}}" alt="Hình ảnh khóa học">
                </div>
                <div class="course-details">
                    <h2 th:text="${course.title}">Tiêu đề khóa học</h2>
                    <p th:text="${course.description}">Mô tả khóa học</p>
                    <p class="course-price">
                        <span class="original-price" th:text="'₫' + ${course.original_price} + ' VND'">Original Price</span>
                        <span class="discounted-price" th:text="'₫' + ${course.discounted_price} + ' VND'">Discounted Price</span>
                    </p>
                    <p class="course-type" th:text="${course.course_type == 1 ? 'Tính toán kết cấu' : 'Tự động hoá các phần mềm xây dựng'}">Course Type</p>
                    <a th:href="@{/course/{id}(id=${course.id})}" class="register-button">Đăng ký khóa học</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Section 3: Automation Courses -->
    <div class="section-3">
        <div class="section-header">
            <i class="fas fa-book"></i>
            <h3>TỰ ĐỘNG HOÁ CÁC PHẦN MỀM XÂY DỰNG</h3>
        </div>
        <div class="course-container">
            <div class="course-card" th:each="course : ${automationCourses}">
                <div class="course-image">
                    <img th:src="@{${course.img_url}}" alt="Hình ảnh khóa học">
                </div>
                <div class="course-details">
                    <h2 th:text="${course.title}">Tiêu đề khóa học</h2>
                    <p th:text="${course.description}">Mô tả khóa học</p>
                    <p class="course-price">
                        <span class="original-price" th:text="'₫' + ${course.original_price} + ' VND'">Original Price</span>
                        <span class="discounted-price" th:text="'₫' + ${course.discounted_price} + ' VND'">Discounted Price</span>
                    </p>
                    <p class="course-type" th:text="${course.course_type == 1 ? 'Tính toán kết cấu' : 'Tự động hoá các phần mềm xây dựng'}">Course Type</p>
                    <a th:href="@{/course/{id}(id=${course.id})}" class="register-button">Đăng ký khóa học</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 4: Books -->
    <div class="section-4">
        <div class="section-header">
            <i class="fas fa-book"></i>
            <h3>TÀI LIỆU</h3>
        </div>
        <div class="book-container">
            <div class="book-card" th:each="book : ${books}">
                <div class="book-image">
                    <a th:href="@{/book/{id}(id=${book.id})}">
                        <img th:src="@{${book.imageUrl}}" alt="Hình ảnh sách" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 5: Services -->
    <div class="section-5">
        <div class="section-header">
                <i class="fas fa-book"></i>
                <h3>DỊCH VỤ</h3>
            </div>
            <div class="services-container">
                <div class="service-card">
                    <img src="https://img.freepik.com/free-vector/hand-drawn-business-planning_23-2149172241.jpg?t=st=1717609621~exp=1717613221~hmac=75260c35446bfc188f53cbc095ad571011f7ee26bf8032369dfcd087ed04aa2d&w=1380" alt="Service 1" class="service-image">
                    <h2>Chia sẻ kiến thức</h2>
                    <p>Kinh nghiệm thực tế và nhiều kỹ năng đang được chia sẻ.</p>
                    <a href="#">Click xem thêm</a>
                </div>
                <div class="service-card">
                    <img src="https://img.freepik.com/free-vector/architects-builders-learn-house-plan-desk_107791-13361.jpg?t=st=1717609700~exp=1717613300~hmac=f31d23ca5bbcad6c472c44596f1a809cfdde2b68312ef6620fdbeab4d12ceb9a&w=1380" alt="Service 2" class="service-image">
                    <h2>Đào tạo kỹ sư</h2>
                    <p>Đào tạo kỹ sư với nhiều chương trình ưu đãi hấp dẫn.</p>
                    <a href="#">Click xem thêm</a>
                </div>
                <div class="service-card">
                    <img src="https://img.freepik.com/free-vector/engineering-construction-illustration_23-2148891048.jpg?t=st=1717609777~exp=1717613377~hmac=193c575f3670791e36283860d683ac1a2fa613c60393bcf83a33cfac59eac6a2&w=1380" alt="Service 3" class="service-image">
                    <h2>Phần mềm kết cấu</h2>
                    <p>Các phần mềm hữu ích hỗ trợ công việc của kỹ sư xây dựng.</p>
                    <a href="#">Click xem thêm</a>
                </div>
                <div class="service-card">
                    <img src="https://img.freepik.com/premium-vector/new-employee-warm-welcome-new-office-introduce-colleagues-orientation-training-first-day_566886-6124.jpg?w=1380" alt="Service 4" class="service-image">
                    <h2>Đối tác doanh nghiệp</h2>
                    <p>Hợp tác với các doanh nghiệp trong và ngoài nước.</p>
                    <a href="#">Click xem thêm</a>
                </div>
                <div class="service-card">
                    <img src="https://img.freepik.com/free-vector/choice-worker-concept_52683-43492.jpg?t=st=1717609960~exp=1717613560~hmac=931f3555d849cc81590624b7ccbb39a7452189c70d3f34a2ee229b309fa3ff9e&w=1380" alt="Service 5" class="service-image">
                    <h2>Việc làm</h2>
                    <p>Giới thiệu việc làm phù hợp cho các kỹ sư.</p>
                    <a href="#">Click xem thêm</a>
                </div>
            </div>
        </div>

    <div class="section-6">
        <div class="form-container">
            <div class="form-content">
                <h2>Đăng ký học/tìm hiểu</h2>
                <p>Vui lòng hoàn thiện form thông tin bên dưới. FUNiX sẽ liên hệ với bạn để giải đáp mọi thắc mắc, hoàn toàn miễn phí.</p>
                <form>
                    <div class="form-group-half">
                        <div class="form-group">
                            <textarea id="name" name="name" required placeholder="Họ & tên"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea id="phone" name="phone" required placeholder="Số điện thoại"></textarea>
                        </div>
                    </div>
                    <div class="form-group-half">
                        <div class="form-group">
                            <textarea id="email" name="email" required placeholder="Email"></textarea>
                        </div>
                    </div>
                    <div class="form-group-half">
                        <div class="form-group">
                            <label for="dob">Nghề nghiệp</label>
                            <select id="dob" name="dob">
                                <option value="sinhvien">Sinh viên</option>
                                <option value="nguoidiLam">Người đi làm</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="course">Chọn khóa học</label>
                            <select id="course" name="course">

                                <!-- Options should be populated from the database -->
                                <option value="course1">Tính toán kết cấu</option>
                                <option value="course2">Tự động hoá các phần mềm xây dựng</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <textarea id="additional" name="additional" rows="4" placeholder="Thông tin bổ sung"></textarea>
                    </div>
                    <button type="submit">Đăng ký ngay</button>
                </form>
            </div>
            <div class="form-image">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ8dsOYnJEb_gnnfD_xRPNQLW70ytr_bPZFsDxI6Da3WGLzMfPM" alt="Registration Image">
            </div>
        </div>
    </div>

</main>

</body>

</html>
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    setInterval(function() {
        plusSlides(1);
    }, 5000); // Change image every 5 seconds
</script>