<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout.html"
      th:with="pageTitle='Đào Tạo Doanh Nghiệp'">
<head>
    <meta charset="UTF-8">

</head>
<body>
<main layout:fragment="content">
    <div class="section1">
        <img src="images/banner-1.png" alt="Tư vấn ISO">
        <div class="banner-text">
        </div>
    </div>
    <div class="section2">
        <h2>TẠI SAO LẠI CHỌN CHÚNG TÔI</h2>
        <p>BTF là tổ chức được...</p>
        <img src="images/banner-2.jpeg" alt="section2">
    </div>
</main>
</body>
</html>
